header {
    height: 35px;
    width: auto;
    background-color: #4A6884;
    padding: 7px;
    margin-bottom: 20px;
    margin-top: -9px;
    margin-left: -13px;
    margin-right: -12px
}
h1 {
    color: azure;
    text-align: left;
    font-size: 37px;
    margin-left: 10px;
    margin-top: -49px;
    margin-bottom: -45px;
    padding-left: 195px;
}



.logo {
    margin: -15px;
    width: 67px;
    height: 43px;
    
    margin-left: 74px;
    margin-top: -2px;
}

.uicon {
    height: 31px;
    
    width: 34px;
    margin-top: 4px;
 
    margin-right: 120px;
    float: right;
}

.welcome {
    float: right;
    margin-right: 21px;
    margin-top: 6px;
    color:white;
}


.display-email {
    float: right;
    font-size: 13px;
    margin-top: 1px;
    margin-right: -81px;
    color: azure;

}

.logout{
    float: right;
    margin-right: -210px;
    color: white;
    text-decoration: none;
    text-decoration: none;
}
 
.logout:hover {
    color:black;
}

.sidebar {
    position: fixed;
     height: 171px;
    width: 175px;
    
  
    border-right: solid 1px;
    margin-top: 10px;
    padding-top: -8px;
    padding-left: 4px;
}


nav ul{
    margin-top: -30px;
}
 nav ul li{
          list-style:none;
          padding-top: 42px;
}

nav ul li a{
    text-decoration: none;
    color: grey;
}
nav ul li a:hover {
    color:red;

}

.Askquestion{
    padding-left: 250px;
}
h2{
text-align: left;
}

.textarea_container textarea{
 

        margin-top: -32px;
        margin-left: 248px;
        resize:none;
   }
   .textarea_container button { 
    margin-left: 912px;
    margin-top: -37px;
    width: 58px;
    font-family: sans-serif;
    
    font-size: 13px;
   }






